# 🔐 Environment variables
.env
.env.*


db.sqlite3


# 🐍 Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
.env/

# 🧪 Virtual environment
venv/
env/

# ⚛️ Node / Vite
node_modules/
dist/
build/

# 🧹 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 OS files
.DS_Store
Thumbs.db

# 🧠 IDE files
.vscode/
.idea/

